/* Profile.css */

.profile-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .profile-heading {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .profile-image-container {
    text-align: center;
  }
  
  .profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .profile-details {
    margin-top: 20px;
  }
  
  .profile-id,
  .profile-name,
  .profile-age,
  .profile-country,
  .profile-login,
  .profile-email,
  .profile-phone,
  .profile-campus,
  .profile-level {
    margin-bottom: 10px;
  }
  
  .profile-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
  }
  
  .profile-table th,
  .profile-table td {
    padding: 8px;
    border:
    1px solid #ddd;
}

.profile-table th {
  font-weight: bold;
}

.profile-progress-heading {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.profile-bar-graph {
  margin-top: 20px;
}

.app-container {
  width: 500px; /* Adjust the width as needed */
  height: 400px; /* Adjust the height as needed */
}

